.container-fluid,
.container-fluid .main-row {
    height: 100%;
}

.content-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.devices-types .card-text {
    height: 4rem;
}

.errorlist {
    padding-left: 2px;
}

.errorlist li {
    list-style: none;
    color: #e75a5a;
    margin-top: 5px;
}
