{% extends "base.html" %}
{% load static %}

{% block title %}Register{% endblock title %}

{% block css %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link rel="stylesheet" href="{% static 'authenticator/css/register.css' %}">
{% endblock css %}

{% block content %}

<div class="container">
    <div class="main-box d-md-flex align-items-center justify-content-between">
        <div class="box-1 mt-md-0 mt-5">
            <img src="{% static "images/energy-solars.jpg" %}"
                    class="" alt="">
        </div>
        <div class="box-2 d-flex flex-column h-100">
            <div class="mt-5">
                <p class="mb-1 h-1">Create Account.</p>
                <p class="text-muted mb-4">Start managing your energy smart.</p>

                <form method="post">
                    {% csrf_token %}

                    <div class="form-group mb-2">
                        <label for="{{ form.username.id_for_label }}">Username:</label>
                        {{ form.username }}
                        {{ form.username.errors }}
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label for="{{ form.first_name.id_for_label }}">First name:</label>
                                {{ form.first_name }}
                                {{ form.first_name.errors }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label for="{{ form.last_name.id_for_label }}">Last name:</label>
                                {{ form.last_name }}
                                {{ form.last_name.errors }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-2">
                        <label for="{{ form.email.id_for_label }}">Email:</label>
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label for="{{ form.password.id_for_label }}">Password:</label>
                                {{ form.password1 }}
                                {{ form.password2.errors }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
                                {{ form.password2 }}
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-secondary">Create account<span class="fas fa-chevron-right ms-1"></span></button>
                </form>

                <div class="mt-5">
                    <p class="mb-0 text-muted">Already have an account?</p>
                    <div class="btn btn-primary">Log in<span class="fas fa-chevron-right ms-1"></span></div>
                </div>

            </div>

            <div class="mt-auto">
                <p class="footer text-muted mb-0 mt-md-0 mt-4">By register you agree with our
                    <span class="p-color me-1">terms and conditions</span>and
                    <span class="p-color ms-1">privacy policy</span>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
