<div class="side-bar d-flex flex-column align-items-center align-items-sm-start px-3 pt-2">
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start mt-4 px-2" id="menu">
        <li class="nav-item py-2">
            <a href="#" class="nav-link align-middle px-2">
                <div class="row">
                    <div class="col-2">
                        <i class="icon fas fa-lightbulb"></i>
                    </div>
                    <div class="col">
                        <span class="ms-1 d-none d-sm-inline">Consume Energy</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="nav-item py-2">
            <a href="#" class="nav-link align-middle px-2">
                <div class="row">
                    <div class="col-2">
                        <i class="icon fas fa-warehouse"></i>
                    </div>
                    <div class="col">
                        <span class="ms-1 d-none d-sm-inline">Store Energy</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="nav-item py-2">
            <a href="#" class="nav-link align-middle px-2">
                <div class="row">
                    <div class="col-2">
                        <i class="icon fas fa-leaf"></i>
                    </div>
                    <div class="col">
                        <span class="ms-1 d-none d-sm-inline">Produce Energy</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <ul class="nav add-dev px-2 mb-4">
        <li class="nav-item pt-2">
            <a href="#" class="nav-link align-middle px-2">
                <div class="row">
                    <div class="col-2">
                        <i class="icon fas fa-plus"></i>
                    </div>
                    <div class="col">
                        <span class="ms-1 d-none d-sm-inline">Add Device</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
