{% extends "layout.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static "core/css/sidebar.css" %}">
<link rel="stylesheet" href="{% static "core/css/home.css" %}">
{% endblock css %}

{% block body %}
<div class="main-wrapper container-fluid">
    <div class="row first-row">
        <div class="col col-5">
            <div class="tasks-wrapper">
                <div class="title-box">
                    <p class="title-text pt-2 pb-2 ps-4">Tasks for today</p>
                </div>
            </div>
        </div>
        <div class="col col-7">
            <div class="devices-wrapper">
                <div class="title-box">
                    <p class="title-text pt-2 pb-2 ps-4">Devices</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row second-row mt-4">
        <div class="col">
            <div class="plan-wrapper">
                <div class="title-box">
                    <p class="title-text pt-2 pb-2 ps-4">Week plan</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
