{% extends "layout.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static "core/css/sidebar.css" %}">
<link rel="stylesheet" href="{% static "core/css/home.css" %}">
{% endblock css %}

{% block body %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-0">
            <div class="side-bar d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
                {% include "core/devices-sidebar.html" %}
            </div>
        </div>
        <div class="col py-3">
            Content area...
        </div>
    </div>
</div>

{% endblock body %}
