@import url('https://fonts.googleapis.com/css2?family=Cookie&family=K2D:wght@100;200;300;400;500;600;700;800&family=Modak&display=swap');

.navbar {
    background-color: #F3F8FF;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Cookie', cursive;
    margin-left: 1rem;
    padding: 0;
    color: #49108B;
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: #49108B;
}

.nav-right-icons {
    margin-left: 2rem;
}

.dropdown-toggle,
.dropdown-toggle:focus,
.dropdown-toggle:active {
    border: none;
}

.nav-profile-img {
    background-color: #fff;
}

.fa-door-open {
    padding-right: 5px;
}

.nav-right-icons > .dropdown > .dropdown-menu {
    background-color: #F3F8FF;
}

.nav-right-icons > .dropdown > .dropdown-menu  > li > .dropdown-item:hover {
    background-color: #e7effa;
    color: #49108B;
}

.nav-right-icons > .dropdown > .dropdown-menu  > li > .dropdown-item:link,
.nav-right-icons > .dropdown > .dropdown-menu  > li > .dropdown-item:active  {
    background-color: #F3F8FF;
}

.navbar-nav a {
    text-decoration: none;
    display: block;
    position: relative;
    padding: 0.2em 0;
}

.navbar-nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #49108B;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.navbar-nav a:hover::after,
.navbar-nav a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
