{% extends "layout.html" %}
{% load static %}

{% block title %}Devices{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static "devices/css/sidebar.css" %}">
<link rel="stylesheet" href="{% static "devices/css/devices.css" %}">
{% endblock css %}

{% block scripts %}
<script src="{% static "devices/js/devices.js" %}" async></script>
{% endblock scripts %}

{% block body %}

<div class="container-fluid">
    <div class="main-row row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-0">
            {% include "devices/includes/devices-sidebar.html" %}
        </div>
        <div class="col p-5">
            <div class="devices-wrapper">
                <div class="title-wrapper prevent-select">
                    <p class="content-title">Your {{type|title}} Devices</p>
                    <div class="count-wrapper">
                        <span>{{ devices|length }}</span>
                    </div>
                </div>
                {% if type == 'consuming' %}
                    {% include "devices/includes/devices_tables/consume-device-table.html" %}
                {% elif type == 'storing' %}
                    {% include "devices/includes/devices_tables/store-device-table.html" %}
                {% else %}
                    {% include "devices/includes/devices_tables/produce-device-table.html" %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% include "devices/includes/delete-modal.html" %}
{% include "devices/includes/edit-modal.html" %}

{% endblock body %}
