{% extends "layout.html" %}
{% load static %}

{% block title %}Devices{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static "devices/css/sidebar.css" %}">
<link rel="stylesheet" href="{% static "devices/css/devices.css" %}">
{% endblock css %}

{% block scripts %}
<script src="{% static "devices/js/devices.js" %}" async></script>
{% endblock scripts %}

{% block body %}

<div class="container-fluid">
    <div class="main-row row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-0">
            {% include "devices/includes/devices-sidebar.html" %}
        </div>
        <div class="col p-5">
            <div class="devices-wrapper">
                <div class="title-wrapper prevent-select">
                    <p class="content-title">Your {{type|title}} Devices</p>
                    <div class="count-wrapper">
                        <span>{{ devices|length }}</span>
                    </div>
                </div>

                <table class="devices-table prevent-select">
                    <thead>
                        <th width="29%">Name</th>
                        <th width="24%">Plan usage</th>
                        <th width="20%">Energy usage</th>
                        <th width="15%"></th>
                    </thead>
                </table>
                <div class="table-body">
                    {% if devices %}
                    <table>
                        <thead></thead>
                        <tbody>
                            {% for device in devices %}
                            <tr class="device-row prevent-select" data-id="{{device.id}}">
                                <td class="dev-data device-name" data-name="name" width="30%">{{device.name}}</td>
                                <td width="25%">
                                    <span class="dev-data" data-name="period_execution">{{device.period_execution}}</span>
                                    <span>/</span>
                                    <span class="dev-data" data-name="plan_period">{{device.plan_period|title}}</span>
                                </td>
                                <td width="20%">
                                    <span class="dev-data" data-name="energy_consumption">{{device.energy_consumption}}</span>
                                    <span> </span>
                                    <span class="dev-data" data-name="energy_unit">{{device.energy_unit}}</span>
                                </td>
                                <td width="15%" class="manage-btns">
                                    <button class="edit-device-btn" type="button">
                                        <span class="fas fa-pen"></span>
                                    </button>
                                    <button class="delete-device-btn" type="button">
                                        <span class="fas fa-trash"></span>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p class="empty-info prevent-select">You don't have any {{type}} devices yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include "devices/includes/delete-modal.html" %}
{% include "devices/includes/edit-modal.html" %}

{% endblock body %}
