{% extends "layout.html" %}
{% load static %}

{% block title %}Add Device{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static "devices/css/sidebar.css" %}">
<link rel="stylesheet" href="{% static "devices/css/devices-add.css" %}">
{% endblock css %}

{% block body %}

<div class="container-fluid">
    <div class="main-row row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-0">
            {% include "devices/includes/devices-sidebar.html" %}
        </div>
        <div class="col p-5">
            <div class="back-wrapper mb-1">
                <a href="{% url 'devices-add-page' %}">
                  <img class="back-arrow-img" src="{% static "icons/back-arrow.svg" %}" alt="Back arrow button">
                  <span class="back-text">Back</span>
                </a>
              </div>
            <p class="content-title">Add New {{type|title}} Device</p>
            <div class="main-add-wrapper">
                {% if type == 'consuming' %}
                    {% include "devices/includes/consume-form.html" %}
                {% elif type == 'storing' %}
                    {% include "devices/includes/store-form.html" %}
                {% else %}
                    {% include "devices/includes/produce-form.html" %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock body %}
